{:paths   ["src" "resources"]
 :deps    {com.taoensso/timbre    {:mvn/version "4.10.0"}
           mount                  {:mvn/version "0.1.12"}
           com.cerner/clara-rules {:mvn/version "0.20.0"}
           aysylu/loom            {:mvn/version "1.0.2"}
           re-frame               {:mvn/version "0.11.0"}
           ;com.taoensso/tufte                  {:mvn/version "2.1.0-RC4"}
           ;com.wsscode/pathom                  {:mvn/version "2.2.28"}
           ;hiccup                              {:mvn/version "1.0.5"}
           ;org.clojure/core.async              {:mvn/version "0.4.500"}
           ;org.clojure/data.xml                {:mvn/version "0.0.8"}
           ;org.clojure/data.csv           {:mvn/version "0.1.4"}
           ;datascript             {:mvn/version "0.18.4"}
           ;org.clojure/clojure                 {:mvn/version "1.10.1"}
           ;bidi                                {:mvn/version "2.1.6"}
           }
 :aliases {:dev {:extra-paths ["dev"]
                 :extra-deps  {org.clojure/clojurescript {:mvn/version "1.10.520"}
                               thheller/shadow-cljs      {:mvn/version "2.8.58"}
                               binaryage/devtools        {:mvn/version "0.9.10"}
                               ;reagent                     {:mvn/version "0.8.1"}
                               ;expound                     {:mvn/version "0.7.2"}
                               ;org.clojure/tools.namespace {:mvn/version "0.3.1"}
                               }}}}
