{:deps     {:aliases [:dev]}
 :nrepl    {:port 9000}
 :dev-http {8080 "resources/public"}
 :jvm-opts ["-Xmx2G"]
 :builds   {:main    {:target           :browser
                      :output-dir       "resources/public/js/main"
                      :asset-path       "/js/main"
                      :modules          {:main {:init-fn scp.core/refresh
                                                :entries [scp.core]}}
                      :compiler-options {:closure-defines {"re_frame.trace.trace_enabled_QMARK_" true}
                                         ;; https://github.com/tonsky/datascript/wiki/Tips-&-tricks#externs-and-shadow-cljs
                                         :infer-externs   :auto
                                         :externs         ["datascript/externs.js"]}
                      :devtools         {:preloads [devtools.preload day8.re-frame-10x.preload]}}}}
