
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.room-wrapper {
    margin: 40px;
}

.room {
    position: relative;
}

.map {
    display: grid;
    border-style: solid;
    border-width: 1px;
}

.map-cell {
    text-align: center;
    /*background-color: gray;*/
}

.player {
    position: absolute;
    text-align: center;
    /*color: white;*/
    /*background-color: gray;*/
}
